html,
body {


  background-image: url("Arkaplan.webp");

  background-color: #e4ebf5;
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden !important;
  margin: 0px !important;
  padding: 0px !important;
}


.chatbot{

  background-image: url("Arkaplan.webp");

}


#chat-container {
  width: 300px;
  margin: auto;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #f9f9f9;
}

#chat-box {
  height: 300px;
  overflow-y: auto;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 5px;
  background-color: #fff;
}

.bot-message {
  background-color: #e0e0e0;
  padding: 5px;
  margin: 5px 0;
  border-radius: 4px;
}
.user-message {
  background-color: burlywood;
  padding: 5px;
  margin: 5px 0;
  border-radius: 4px;
}
.chat-header {
  background-color: #2f8be0;
  color: #fff;
  padding: 15px;
  text-align: center;
}

.chat-main {
  height: 400px;
  padding: 20px;
  background-color: #f2f2f2;
  overflow-y: auto;
}

.output {
  margin-bottom: 20px;
}

.chat-footer {
  background-color: #ddd;
  padding: 10px;
  display: flex;
}

.chat-footer input[type="text"] {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 2px solid #ccc;
}

.chat-footer button {
  padding: 10px 20px;
  border: none;
  background-color: #2f8be0;
  color: white;
  cursor: pointer;
}

.chat-footer button:hover {
  background-color: #45a049;
}

.transparent-button {
  width: auto;
  height: 0px;
  background: transparent;
  border: none;
  color: #f7f6f6;
}

.transparent-button:hover {
  color: #1d6679;
}
.show-form:hover {
  color: #aaa;
}

* {
  text-decoration: none !important;
}



.nav {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px 0 25px;
  color: #10477a;
  background-color: #90abd4;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.nav .links a {
  margin-right: 25px;
  font-size: 20px;
  font-weight: 700;
  color: #10477a;
}

.nav .links .mainlink {
  font-size: 25px;
  font-weight: 700;
  color: #fffafa;
}

.nav h4 {
  font-size: 22px;
  font-weight: bold;
  margin-left: 25px;
}

/* HOME PAGE */

.home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw 0 10vw;
  height: 100vh;
}

.homeText .h1 {
  font-size: 4vw;
  color: #193166;
  margin: 0 !important;
}

.homeText h3 {
  color: #001f66;
  margin: 6px !important;
  font-size: 20px;
  opacity: 0.3;
  line-height: 30px;
}

.homeText .btn {
  width: 200px;
  margin-top: 30px;
  padding: 14px 20px 14px 20px;
  background-color: #347ec3;
  border-radius: 45px;
  text-align: center;
}

.homeText .btn a {
  font-size: 1.2vw;
  color: #fff;
  text-align: center;
}

.homeImage img {
  width: 28vw;
}

/* HELP PAGE */

.help {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw 0 10vw;
  height: 100vh;
}

.helpText h1 {
  font-size: 4vw;
  margin: 0 !important;
}

.helpText h3 {
  margin: 6px !important;
  font-size: 20px;
  opacity: 0.3;
  line-height: 30px;
}

.helpText .btn {
  width: 200px;
  margin-top: 30px;
  padding: 14px 20px 14px 20px;
  background-color: #2f8be0;
  border-radius: 45px;
  text-align: center;
}

.helpText .btn a {
  font-size: 1.2vw;
  color: #fff;
}

.helpImage img {
  width: 28vw;
}

/* ABOUT CSS */

.about {
  height: 600px;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.aboutText {
  position: relative;
  padding: 0 50px;
  height: inherit;
}

.aboutText h1 {
  position: relative;
  left: 110px;
}

.aboutText img {
  width: 10vw;
  position: absolute;
  top: 50px;
}

.aboutList {
  width: 50%;
}

ol {
  list-style: none;
  color: #e0501b;
}

ol li {
  font-size: 34px;
  position: relative;
  margin-bottom: 20px;
  border-bottom: 1px solid #ebebeb;
}

li p {
  font-size: 16px;
  color: #000;
  padding-left: 60px;
  line-height: 30px;
  opacity: 0.6;
}

li span {
  position: absolute;
  line-height: 25px;
  font-weight: 600;
}

/* INFO_SECTION CSS */

.infoSection {
  height: 600px;
}

.infoHeader {
  text-align: center;
  margin-bottom: 40px;
}

.infoKutucuk {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0 40px 0;
}

.infoKutucuk .kutucuk {
  position: relative;
  height: 360px;
  width: 350px;
  background: #ffffff;
  box-shadow: 0 10px 22px rgba(0, 0, 0, 0.09), 0 10px 10px rgba(0, 0, 0, 0.09);
}

.infoKutucuk .one .kutucukoneImg {
  width: 180px;
  position: absolute;
  top: -50px;
  right: -50px;
}
.infoKutucuk .two .kutucuktwoImg {
  width: 158px;
  position: absolute;
  top: -50px;
  right: -50px;
}
.infoKutucuk .three .kutucukthreeImg {
  width: 200px;
  position: absolute;
  top: -50px;
  right: -50px;
}

.kutucukbgone {
  height: 150px;
  background-color: #ffce63;
}
.kutucukbgtwo {
  height: 150px;
  background-color: #a1cdff;
}

.kutucukContent {
  padding: 0 20px;
}

.kutucukContent h2 {
  font-weight: 600;
}

.kutucukContent p {
  line-height: 30px;
  opacity: 0.6;
}

.kutucukContent .kutucukBtn {
  position: absolute;
  right: 20px;
  padding: 10px;
  background-color: #ededed;
  width: 25px;
  height: 20px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.2s;
}

.kutucukContent .kutucukBtn:hover {
  background-color: #2f8be0;
}

.kutucukContent .kutucukBtn .kutucukIcon {
  position: relative;
  top: 0px;
  left: 0px;
  width: 0px;
}

/* Banner */

.banner {
  height: 400px;
  background-color: #fffafa;
  display: flex;
  flex-direction: row;
  padding: 50px;
  justify-content: space-evenly;
  align-items: center;
}

.bannerText h1 {
  font-size: 3vw;
  color: #fffafa;
  font-weight: 600;
}

.bannerText img {
  width: 10vw;
  margin-right: 20px;
}

.bannerImg img {
  width: 20vw;
}

/* FOOTER CSS */

.footer {
  height: 100px;
  background-color: #e4ebf5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
}

.footerlinks a {
  margin: 20px;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
.footerlinks .mainlink {
  color: #e0501b;
}

/* RESPONSIVE */

@media only screen and (max-width: 600px) {
  .nav {
    background-color: #fffafa;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    height: auto;
    overflow-y: hidden;
  }

  .nav h4 {
    font-size: 6vw;
    margin-top: 10px;
    margin-bottom: 14px;
  }

  .nav .links a {
    margin-right: 25px;
    font-size: 12px;
    font-weight: 600;
  }

  /* HOME PAGE */

  .home {
    flex-direction: column-reverse;
    height: 750px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .homeText h1 {
    font-size: 6vw;
    margin: 0 !important;
  }

  .homeText h3 {
    font-size: 16px;
  }

  .homeText .btn {
    margin: 0 auto;
  }

  .homeText .btn a {
    font-size: 3vw;
  }

  .homeImage img {
    width: 52vw;
    margin-bottom: 20px;
  }

  /* ABOUT */

  .about {
    height: auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .aboutText {
    padding: 0 50px;
    height: 100px;
  }

  .aboutText h1 {
    left: 40px;
    font-size: 5vw;
  }

  .aboutText img {
    width: 16vw;
    top: 10px;
    left: -30px;
  }

  .aboutList {
    width: 75%;
  }

  ol li {
    font-size: 26px;
  }

  li p {
    font-size: 14px;
  }

  .infoSection {
    height: auto;
  }

  .infoHeader {
    text-align: center;
    margin: 40px 0;
  }

  .infoKutucuk {
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .infoKutucuk .kutucuk {
    margin-bottom: 60px;
  }

  .banner {
    height: auto;
    flex-direction: column-reverse;
    padding: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .banner h1 {
    font-size: 6vw;
  }

  .bannerInnerText {
    font-size: 3vw !important;
  }

  .bannerText img {
    width: 20vw;
  }

  .bannerImg img {
    width: 26vw;
  }

  .footer {
    padding-bottom: 40px;
  }
}

.hide {
  display: none;
}

.success-feedback {
  color: green;
}

.error-feedback {
  color: red;
}
